* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container {
    width: 70vw;
    margin: 60px auto 0;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #000;
    padding: 0 50px;
}
/* Input To Do */
#newToDo {
    margin: 50px auto;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 30px;
}
input {
    width: 500px;
    margin-right: 30px;
}
button,
input {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
    filter: brightness(90%);
    padding: 5px 10px;
}
button:hover,
input:hover {
    filter: brightness(100%);
}
/* List Item TO DO */
ul {
    padding-bottom: 50px;
    list-style-type: none;
}
ul li {
    padding: 20px;
    border-bottom: 1px solid black;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fa-circle-xmark {
    /* margin-left: 80%; */
    cursor: pointer;
    text-decoration: none!important;
    color: #000!important;
}
.fa-circle-xmark:hover {
    color: red!important;
}
.done {
    text-decoration: line-through;
    color: gray;
}
h1 {
    text-align: center;
    margin-top: 40px;
}