<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <main>
            <h1>TO DO LIST</h1>
            <div id="container">
                <div id="newToDo">
                    <input type="text" id="addNew" placeholder="Crea nuova nota" v-model="newT.text">
                    <button type="submit" @click="arrList.push(newT)">Crea</button>
                </div>
                <ul>
                    <li v-for="(text, index) in arrList" :class="{ done: arrList[index].done }" @click="(arrList[index].done) ? arrList[index].done=false : arrList[index].done=true">
                        <h4>{{arrList[index].text}}</h4>
                        <div @click="() => arrList.splice(arrList[index], 1)"><i title="Premi per eliminare la nota" class="fa-solid fa-circle-xmark"></i></div>
                    </li>
                </ul>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>